vendor/
node_modules/
/storage/uploads/*.*
/storage/logs/*.*
/storage/framework/cache/*.*
/storage/framework/sessions/*.*
/storage/framework/views/*.*
/storage/app/*.*
/public/thumbnails/
/bower_components
.env.*.php
.env.php
.env
.env.example