/*.small,*/
/*.btn,
.panel-heading
button,
a,
p,
label,
input*/
/*{
	font-family: 'Exo 2', sans-serif;
}*/

task {
	border-bottom: 1px solid #ccc;
}

#example {
	display: none;
}

/*.list-group-item {
	height: 245px;
	max-height: 245px;
	min-height: 245px;
	overflow: hidden;
}*/

.list-group-item {
	cursor: default;
}

.snippet {
	border-radius: 4px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: #555;
	display: block;
	margin-bottom: 15px;
	padding: 10px 15px;
	position: relative;
	overflow: hidden;
}
.snippet:last-of-type {
	margin-bottom: 0px;
}
.snippet:hover {
	background-color: #eee;
	/*cursor: pointer;*/
}

.message {
	border-radius: 4px;
	border: 1px solid #ddd;
	color: #555;
	display: block;
	margin-bottom: 15px;
	padding: 10px 15px;
	position: relative;
	overflow: hidden;
}
	.message_service {
		background-color: #eee;
	}

.message-body {
	white-space: pre-wrap;
	margin-bottom: 10px;
}
/*pre {
	background: #fff;
	border: none;
}*/

img {
	vertical-align: baseline;
}

/*padding for fixed top and bottom nav*/
body {
	padding-top: 70px;
	padding-bottom: 20px;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.panel-body{

}




